$bodyBg: #f1f1f1;
$primaryColor: #0a0a0a;
$primaryColorLight: #f1f1f1;

$headerBgColor: #1867df;
$headerColor: #ffffff;

$buttonBg: #2875e7;
$buttonBgHover: #3988ff;

$errorColor: #ee1c1c;

$boxShadowColor: #000000;
$subTitleBg: #d4d4d4;

$humidityBg: #f4f4ff;
$pressureBg: #f0f0f7;
$temperatureBg: #e8e8f0;

$weatherBtnBg: #d2d2d2;

$weatherBoxBg: #ffffff;