@import '../shared/variables';

.form {
    div.errorText {
        height: 20px;
    }

    span.isError {
        color: $errorColor;
    }

    padding: 10px;
    margin: 0 auto;
    margin-top: 25px;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 16px;

    input[type="text"], button {
        padding: 10px 15px;
        margin: 2px;
    }

    input[type="text"] {
        border: 1px solid $buttonBg;
        &:hover {border: 1px solid $buttonBgHover;}

        &.isError {
            border: 1px solid $errorColor;
        }
    }

    button {
        background: $buttonBg;
        border: 1px solid $buttonBg;
        color: $primaryColorLight;
        &:hover {
            background: $buttonBgHover;
            border: 1px solid $buttonBgHover;
            cursor: pointer;
        }
    }
}